// @import './fontawesome.css';
@import './buefy.scss';

.t- {
  &navbar {
    background-color: $primary;
    .navbar-item {
      font-weight: bold;
    }
    .logo  {
      font-weight: 600;
      font-size: 1.35rem;
    }
  }
  &toolbar {
    padding-top: 20px;
    background: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    .tabs {
      ul {
        border-bottom-width: 0;
      }
      a {
        border-bottom-width: 4px;
        border-bottom-color: transparent;
      }
      .is-active a{
        border-bottom-width: 4px;
      }
      a:hover {
        background-color: #f5f5f5;
        border-bottom-color: #dbdbdb;
      }
    }
  }
  &main {
    padding: 1.5rem 0;
    background: #f6f8fa;
    min-height: calc(100vh - 304px);
  }
  &box,&card {
    border: 1px solid #e2e8ed;
  }

  &article{
    &-group {
      box-shadow: $box-shadow;
      position: relative;
      .scrollbar {
        max-height: 800px;
      }
      &-item {
        h2 {
          font-weight: bold;
        }
        p {
          margin: .5rem 0;
        }
      }
    }
    &-view {
      position: relative;
      box-shadow: $box-shadow!important;
      .card-header {
        padding: .625rem;
        background: #f9fafc!important;
        box-shadow: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        &-info {
          margin-right: 10px;
        }
      }
      .card-footer {
        padding: .625rem;
        background: #f9fafc!important;
      }
      .columns {
        width: 100%;
      }
      .options {
        -ms-flex-align: center!important;
        align-items: center!important;
        display: -ms-flexbox!important;
        display: flex!important;
      }
    }

    &-editor-title {
      width: 100%;
      outline: none;
      height: 4rem;
      text-align: center;
      font-size: 2.75rem;
      padding: 2rem 0 3rem 0;
      border: 0;
      border-bottom: 2px dashed #ddd;
    }

    &-editor-option {
      position: fixed;
      bottom: -10px;
      width: 100%;
      left: 0;
      z-index: 1;
      .hide-button {
        position: absolute;
        right: 1px;
        top: 1px;
      }
    }
  }
}

.comp {
  &-list-group {
    box-shadow: $box-shadow;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    &-item {
      position: relative;
      cursor: pointer;
      background: #fff;
      position: relative;
      display: block;
      padding: .5rem;
      border: 1px solid #e6ebf4;
      &:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
      }
      &:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
      &:hover {
        background: #f9fafc;
      }
    }
    &-item+&-item {
      border-top-width: 0;
    }
    &-item-active {
      border-left: 2px solid #4a4a4a;
      background: #f1f1f1;
      &:hover {
        background: #f1f1f1;
      }
    }
  }
}

.text {
  &-white {
    color: #fff!important;
    &-75 {
      color: rgba(255,255,255,.75)!important;
    }
  }
  &-muted {
    color: #6c757d!important;
  }
  &-word {
    word-wrap: break-word;
    word-break: break-all;
  }
  &-must {
    color: red;
  }
}

.font {
  &-size-sm {
    font-size: .875rem!important;
  }
}

$margin1: .35rem!important;
$margin2: .75rem!important;

.m {
  &r-1 {
    margin-right: $margin1;
  }
  &r-2 {
    margin-right: $margin2;
  }
  &l-1 {
    margin-right: $margin1;
  }
  &l-2 {
    margin-right: $margin2;
  }
  &b-0 {
    margin-bottom: 0!important;
  }
  &b-1 {
    margin-bottom: $margin1;
  }
  &b-2 {
    margin-bottom: $margin2;
  }
  &t-1 {
    margin-top: $margin1;
  }
  &t-2 {
    margin-top: $margin2;
  }
}

.w {
  &100 {
    width: 100%;
  }
}

.uselect {
  .avatar {
    display: block;
    height: 2.25rem;
    padding: 0;
    img {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      width: 2.25rem;
      height: 2.25rem;
    }
  }
  .name {
    height: 2.25rem;
    font-weight: bold;
    font-size: 1rem;
  }
  .tags .tag {
    margin-bottom: 0;
  }
}
.cursor {
  &-pointer {
    cursor: pointer;
  }
}